<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:mem:test;DB_CLOSE_DELAY=-1</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">""</property>

        <!-- Recreate database schema on Hibernate launch -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <!-- Print Hibernate queries to terminal -->
        <property name="hibernate.show_sql">true</property>

        <!--  Second level cache settings -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
        <property name="hibernate.cache.region.factory_class">org.redisson.hibernate.RedissonRegionFactory</property>

        <property name="hibernate.cache.redisson.config">redisson.yaml</property>

        <!-- Generate statistics (includes second level cache hits/misses) -->
        <property name="hibernate.generate_statistics">true</property>

        <!--  List of XML mapping files and annotated classes -->
        <mapping class="com.colak.jpa.Pet"/>

    </session-factory>
</hibernate-configuration>